Themes/Coffee-Bean/Config/Quickshell/Process/SystemFile/metrics.json
Themes/Coffee-Bean/Config/Quickshell/Process/SystemFile/sourceCode/go.*
Themes/Coffee-Bean/Config/Quickshell/Process/SystemFile/sysinfo
